<!--初期画面-->
    <section class="main">
      <div class="main-page">
        <h2>不幸な動物がいなくなる<br>世界を目指して</h2><br>
        <p>近年犬や猫の殺処分は減少傾向にありますが、まだ0というわけではありません。<br>
        また仮に0となったとしても虐待がなくなることや法律が変わることがなければゴールとは言えません。<br>
        動物の幸せ、人間との共存。<br>
        平和な世の中を作るにはあなたの力が必要です。</p>
      </div>
    </section>
    <section class="purpose">
      <div class="purpose-page">
        <h2>当サイトの目的・存在価値</h2><br>
        <p>
          現在国内だけでみても殺処分やネグレクトなど考えられないような<br>出来事が日常的に起きています。<br>
          また何らかの原因によって飼い主の元を離れてしまった動物も多く<br>
          一刻も早く飼い主の元へ届けてあげる必要があります。<br>
          当サイトではこれまでバラバラだった情報を一元化することを目的とし<br>
          多くの動物を救うものとしていきたいと考えております。
        </p>
      </div>
    </section>
    <section class="important">
      <div class="important-page">
        <h2>彼らの幸せには皆さんの協力が必要です</h2>
        <div class="important-wrapper">
          <div class="important-box">
            <%= image_tag 'retweet.png' %>
            <h3>情報共有</h3>
            <p>問題解決のために皆さんの知恵を動員させ解決へ導きましょう。個人で見るとわずかな知識だったとしても大勢集まればそれは多大な財産になります。</p>
          </div>
          <div class="important-box">
            <%= image_tag 'share.png' %>
            <h3>拡散協力</h3>
            <p>迷子や保護されている子達を救うには多くの人に知ってもらう必要があります。あなたの拡散が命を助けることに繋がります。</p>
          </div>
          <div class="important-box">
            <%= image_tag 'good.png' %>
            <h3>課題解決</h3>
            <p>殺処分を含め多くの課題のある日本ですが皆で協力することで良い方向へ導くことはできます。できることを1つ1つこなし皆が当事者意識を持って解決へ導いていきましょう。</p>
          </div>
        </div>
      </div>
    </section>
    <section class="message">
      <div class="message-page">
        <h3>思い</h3>
          <p>当初全国にある保健所からデータを引っ張ってきて、各県毎に写真付きで皆さんを待っているペットたちの写真を並べようと考えておりましたが、2つ理由があり断念しました。<br>
            <br>結果環境省の管理しているサイトを添付しました。<br>
            <br>このサイトは各県の保健所の情報を確認することはできますが、クリックして進む必要があり不便な面が多くあります。<br>
            本来であればその点も解消できるサービスをリリースしたかったのですが力不足ゆえできませんでした。<br>
            <br>もしまとまっていない情報を上手くまとめ写真付きでスクレイピングできるエンジニアの方がおりましたらお力をお貸しいただけたらと思います。<br>
            <br>僕自身このサイトを作成している身ですが、本気で勉強を始めまだ2ヶ月程度でございまして圧倒的力不足でございます。よろしくお願いします。<br>
            <br>また当サービスをお使いいただいている皆様ありがとうございます。<br>
            <br>初心者ゆえ至らない部分がたくさんあるかと思いますが皆様の声を頂戴しながら少しずつ使いやすい良いものに変えていけたらと考えております。<br>
            同じ思いの方はたくさんいると思います。<br>
            <br>「殺処分ふざけんな」<br>
            「全部人間のせいだ」<br>
            <br>その通りです。全部我々人間のせいです。人間のせいで犬や猫らは自分で生きていく事が困難になったのです。<br>
            <br>だからこそ私たち人間が彼らを不幸にしてはいけません。<br>
            <br>彼らはブームに乗っかるために生まれてきたわけでも、人間に虐待されるために生まれてきたわけでもありません。<br>
            彼らは幸せになるために生まれてきたんです。<br>
            <br>だから今のこのような現実は僕自身許す事ができません。<br>
            <br>「殺処分なんてなくなればいいのに」<br>
            「虐待する奴なんて同じ目に遭えばいいのに」<br>
            <br>考えることは誰にでもできます。<br>
            でもそれだけでは変えられないのです。<br>
            <br>皆様思いが強いのは承知してます。でも一歩一緒に歩みませんか？<br>
            <br>皆さんでペットらを救い出すためにコミュニティを作っていきましょう。<br>
            今は小さい一歩ですが、皆さんの力が加わっていけばシナジーを生みきっと世界を変えることだってできます。<br>
            簡単です。参加するだけでいいんです。<br>
            <br>「情報共有」「拡散」これだけ皆さんにお願いしたいです。<br>
            <br>一緒に動物たちも一緒に幸せに暮らせる場所を作っていきましょう。<br>
        </p>
      </div>
    </section>
    <section class="contact">
      <div class="profile">
        <div class="profile-doc">
          <%= image_tag 'yasuhiro.hotozuka.jpg', class: 'image' %>
          <h3>YASU</h3>
        </div>
        <div class="profile-right">
          <div class="aicon">
            <div class="aicon-wrapper">
              <a href="https://twitter.com/yastinbieber6" alt="Twitter">
                <div class="btn-social-square btn-social-square--twitter">
                <i class="fab fa-twitter"></i>
                </div>
              </a>
            </div>
            <div class="aicon-wrapper">
              <a href="https://www.facebook.com/profile.php?id=100013827404193" alt="Facebook">
                <div class="btn-social-square btn-social-square--facebook">
                <i class="fab fa-facebook"></i>
                </div>
              </a>
            </div>
            <div class="aicon-wrapper">
              <a href="https://www.instagram.com/yasuhiro_hotozuka/" alt="Instagram">
                <div class="btn-social-square btn-social-square--instagram">
                <i class="fab fa-instagram"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="profile-mail">
            <a class="tops-button" href="mailto:yasuhiro_hotozuka@gmail.com">
              お問い合わせ
            </a>
              <br><p>※ご質問等は上記までご連絡ください</p>
          </div>
        </div>
      </div>
    </section>