<section class="UUU">
  <div class="UUU-page">
    <h2>〜ペットを"買う"時代から"守る"時代へ〜</h2>
    <p>「今この瞬間もあなたを待っている子達が数多くいます」<br>
    「ペットを買うという選択からこの子たちの未来を守るという選択を」<br>
    <br>-----あなたの行動が未来を変えます-----</p><br>
    <br><br><a class="tops-button" href="https://www.env.go.jp/nature/dobutsu/aigo/shuyo/index.html">全国収容動物を見に行く</a>
    <a class="tops-button" href="https://www.lifeboat.or.jp/satooya/dog/dogs.htm">NPO保護サイトを見に行く</a>
    </p>
  </div>
</section>
<section class="VVV">
  <div class="VVV-page">
    <div class="VVV-page-left">
      <h3>〜ペットショップの謎〜</h3><br>
      <p>ペットショップ。それは可愛い子犬や子猫が集まる場所。見ていてとても癒され、場合によっては家族に迎えることもあるでしょう。
      しかしみなさま。疑問に思ったことはないでしょうか。なぜ子犬や子猫ら幼い子しかいないのか。
      ほとんどのペットショップでは成犬を販売しているところはありません。どこも売れやすい子供ばかりです。
      </p>
    </div>
    <div class="VVV-page-right">
      <h3>〜売れ残った子たちの未来〜</h3><br>
      <p>売れる子がいれば売れ残る子も当然います。それがビジネスの世界です。
      売れ残った子たちの未来はいくつかありますが、大抵“繁殖犬”にされるか“殺処分”になります。
      中にはその後幸せを掴む子達もいるかもしれません。しかし全体の1割程度であり残りの子達は一生物として扱われるのです。
      あなたはそれでも命を買いますか？</p>
    </div>
    <div class="VVV-page-left2">
      <h3>〜命にブームはない〜</h3><br>
      <p>近年ティカッププードルや猫カフェなどペットブームだと思います。それ自体は悪いことではありませんが、命をブームに乗せるのは正常な考え方とは思えません。
      ブームが起こることで命の大量生産が起こり当然売れ残る子たちも増えてきます。
      悪徳ブリーダーも増え命を金としか考えないものも増えてきます。
      そうやって負の連鎖が起こり本来幸せになるべき子達が生まれた瞬間から辛い思いをしてしまうのです。</p>
    </div>
      <div class="VVV-page-right2">
        <h3>〜ペットショップで買わない選択を〜</h3><br>
        <p>この負の連鎖を止めるには命に価値をつけるのを辞めるしかありません。
        最愛の家族を見つけるのにペットショップである必要はありません。里親になるという選択肢もあります。
        全国には繁殖に利用されたり、酷い虐待を受け心に傷を負ってしまった子達がたくさんいます。
        もしペットを家族として迎え入れることを考えているのであれば一度自治体の子達をチェックしてみてください。
        あなたの助けを待っている可愛い子達がたくさんいます。</p>
      </div>
    </div>
</section>
<section class="XXX">
  <div class="XXX-page">
    <h2>それでもあなたは命を買いますか？</h2>
    <br><a class="tops-button" href="https://www.env.go.jp/nature/dobutsu/aigo/shuyo/index.html">全国収容動物を見に行く</a>
    <a class="tops-button" href="https://www.lifeboat.or.jp/satooya/dog/dogs.htm">NPO保護サイトを見に行く</a>
  </div>
</section>